:root{
    --bg1: #999;
    --bg2: #333;
    --bg3:#666;
    --bg4:#ccc;
    --success: #46FF64;
    --warning:#FFF546;
    --alarm:#Fa3232;
    --vis1:#002878;
    --vis2:#5064B4;
    --vis3: #C8ECFA;
    --vis4: #008C3C;
}
body{background-color: var(--bg4);
font-family: Arial, Helvetica, sans-serif;}
.flow>td{
    background-color: var(--vis1);
    color: var(--success);
    font-weight: bold;
    text-align: right;
}
th{
    background-color: var(--vis1);
    color: white;
    text-align: left;
    padding-right: 20px;
}
body{background-color: ;}
table{border: none ;} 
.input{ grid-area: input;}
.output{ grid-area: output;}
.info{ grid-area: customer;}
.header{ grid-area: header;}
.production{ grid-area: graphs;}
.container{
    display: grid;
    grid-template-areas:
    'header header header'
    'customer customer customer'
    'input lights output'
    'graphs graphs graphs';
    justify-content: space-evenly;
    row-gap: 1em;
    width: 50%;
    margin: auto;
}

#my-chart.line{
    height:300px;
    max-width: 100%;
    margin: 0 auto;
}
#my-chart{
    font-size: smaller;
}
.dataCell{
    background-color: white;
}
.input>table>tbody>tr>td{
    border: 2px solid grey;
    border-bottom: none;
    border-top: none
  }
.flow>td{
    background-color:black;
    color:var(--success);
}
.funnels>td{
    height:20px;
    background-color:grey;
    border-radius:0px 0px 20px 20px;
}
.status>td{
    height:10px;
    width:20px;
    background-color:var(--success);
    border:none;
}
.orange{
    background-color:var(--warning) !important;
}
img{ max-width: 400px; margin-top: 40px;}
.pipe{ height: 100px;

border: none !important;}
.pipe>div{
    width: 8px;
    background-color: var(--bg2);
    margin: 0 auto;
    height: 100%;
}

.bg-white{background-color: var(--bg4);}
#Mixbak{
    width: 300px;
    height: 80px;
    margin-left: 40px;
    
}
#Mixbak>.top{
    width: 300px;
    height: 40px;
    background-color: var(--warning);
}
#Mixbak>.top:after{
    content: "";
    position: absolute;
    margin: -40px;
    margin-top: 0px;
    width: 80px;
    height: 80px;
    transform: rotate(-45deg);
    background-color: var(--bg4);
}
#Mixbak>.top:before{
    content: "";
    position: absolute;
    margin: 260px;
    margin-top: 0px;
    width: 80px;
    height: 80px;
    transform: rotate(-45deg);
    background-color: var(--bg4);
} 
#Mixbak>.bottom{
    width: 200px;
    margin: 0 auto;
    height: 40px;
    background-color: black;
}